name: Nebula
version: dev
slug: nebula
description: HomeAssistant addon for slackhq/nebula
url: https://github.com/mr-ransel/addon-nebula
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
ports:
  4242/udp: 4242
ports_description:
  4242/udp: "Nebula: This is the port used for encrypted traffic from inside the docker container"
hassio_api: false
privileged:
  - NET_ADMIN
devices:
  - /dev/net/tun
map:
  - ssl:rw
options:
  hass_node_name: homeassistant
  hass_is_lighthouse: true
  hass_is_cert_authority: true
  nebula_network_cidr: "192.168.111.222.1/24"
  hass_advertise_addrs:
    - public-dynamicdns-or-static-ip.myhouse.com:4242
    - 192.168.1.10:4242
  node_list:
    - name: homeassistant
  other_lighthouses: []
  cert_expiry_time: "26280h"
  preferred_route_cidrs: []
schema:
  hass_node_name: str
  hass_is_lighthouse: bool
  hass_is_cert_authority: bool
  nebula_network_cidr: "match(^(([1-9]?\\d|1\\d\\d|25[0-5]|2[0-4]\\d)\\.){3}([1-9]?\\d|1\\d\\d|25[0-5]|2[0-4]\\d)/\\d{1,2}$)" # Must be an IP address and CIDR range
  hass_advertise_addrs:
    - "match(^[-0-9a-z\\.]+:\\d{1,5}$)" # Must be a IP/domain:port
  node_list:
    - name: str
      groups: "str?"
      overlay_ip: "match(^(([1-9]?\\d|1\\d\\d|25[0-5]|2[0-4]\\d)\\.){3}([1-9]?\\d|1\\d\\d|25[0-5]|2[0-4]\\d)$)?"
      public_key: str?
      extra_args: str?
  other_lighthouses:
    - overlay_ip: "match(^(([1-9]?\\d|1\\d\\d|25[0-5]|2[0-4]\\d)\\.){3}([1-9]?\\d|1\\d\\d|25[0-5]|2[0-4]\\d)$)" # Must be an IP address
      public_addr_and_port: "match(^[-0-9a-z\\.]+:\\d{1,5}$)" # Must be an IP/hostname:port
  cert_expiry_time: "match(^\\d+h$)"
  preferred_route_cidrs:
    - "match(^(([1-9]?\\d|1\\d\\d|25[0-5]|2[0-4]\\d)\\.){3}([1-9]?\\d|1\\d\\d|25[0-5]|2[0-4]\\d)/\\d{1,2}$)?" # Must be an IP address and CIDR range
